.mainArea{
    width: 75%;
    height: 100vh; 
    position: relative;
    left: 25%;
}
.mainArea .dashboard{
    font-weight: bold;
    font-size: 20px;
    color: rgb(75, 75, 75);
    position: relative;
    top: 5%;
    left: 3%;
}
.mainArea .card{
    background-color: #0e71c7;
    position: relative;
    margin-top: 6%;
    left: 3%;
    width: 55%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
.mainArea .card:first-child{
    display: flex;
    flex-direction: column;
    
}
.mainArea .button{
    padding: 20px;
    cursor: pointer;
    width: 150px;
    height: 15%;
    color: white;
    background-color: rgb(231, 120, 28);
}
.mainArea .cards{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 3%;
}
.mainArea .cards .card1{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 4%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 16.6%;
    height: 100px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.earning{
    color: rgb(166, 173, 173);
    font-size: 15px;
    margin-bottom: 5px;
}
.price{
    font-weight: bold;
}
.moneyicon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Note-area{
    margin-top: 3%;
    width: 65%;
    height: 300px; 
    position: relative;
    display: flex;
    flex-direction: column;
    left: 3%;
    background-color: white;
}
.note-area-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    color: rgb(166, 173, 173);
    font-weight: bold;
  }
  .new-cards{
      display: flex;
      flex-direction: row;
      left: 2.5%;
      margin-right: 20px;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }
  .card2{
      width: 45%;
      height: 100px;
      position: relative;
      padding-left: 20px;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f8e4bf;
  }
  .card3{
    width: 45%;
    height: 100px;
    position: relative;
    padding-left: 20px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #cefdee;
}
.card2-sales{
    color: #f0b547;
    margin-bottom: 10px;
}
.card2-price{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.card3-sales{
    color: #2ee4aa;
    margin-bottom: 10px;
}
.card3-price{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.line{
    margin:10%;

}
